<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="LOG_PATTERN_CONSOLE">%highlight{%d{HH:mm:ss.SSS}}{FATAL=red, ERROR=red, WARN=yellow, INFO=green, DEBUG=blue, TRACE=white} %highlight{[%t]}{cyan} %highlight{%-5level}{FATAL=red, ERROR=red, WARN=yellow, INFO=green, DEBUG=blue, TRACE=white} %highlight{%logger{36}}{blue} %highlight{correlationId=%X{correlationId}}{magenta} - %msg%n</Property>
    </Properties>

    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN_CONSOLE}"/>
        </Console>
    </Appenders>

    <Loggers>
        <!-- Application Loggers -->
        <Logger name="dev.zbib.librarymanagement" level="INFO" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
        </Logger>

        <!-- Framework Loggers -->
        <Logger name="org.springframework" level="WARN"/>
        <Logger name="org.hibernate" level="ERROR"/>
        <Logger name="org.hibernate.SQL" level="ERROR"/>
        <Logger name="org.hibernate.type" level="ERROR"/>
        <Logger name="org.hibernate.tool.hbm2ddl" level="ERROR"/>
        <Logger name="org.hibernate.stat" level="ERROR"/>
        <Logger name="org.hibernate.engine.jdbc.spi.SqlExceptionHelper" level="ERROR"/>
        <Logger name="org.apache" level="WARN"/>
        <Logger name="org.springframework.security" level="WARN"/>
        <Logger name="com.zaxxer.hikari" level="WARN"/>
        
        <Root level="WARN">
            <AppenderRef ref="ConsoleAppender"/>
        </Root>
    </Loggers>
</Configuration>